
CREATE TABLE Churn_ModellingGP3
(
    RowNumber       number(10),
    CustomerId      number(20),
    Surname         varchar2(50),
    CreditScore     number(30),
    Gender          varchar2(10),
    Age             number(5),
    Tenure          number(7),
    NumOfProducts   number(5),
    HasCrCard       number(20),
    EstimatedSalary number(20),
    Exited          number(20)
);

CREATE TABLE Churn_ModellingGP2
(
    RowNumber       number(10),
    CustomerId      number(20),
    Surname         varchar2(50),
    CreditScore     number(30),
    Gender          varchar2(10),
    Age             number(5),
    Tenure          number(7),
    NumOfProducts   number(5),
    HasCrCard       number(20),
    EstimatedSalary number(20),
    Exited          number(20)
);

CREATE TABLE Churn_ModellingGP1
(
    RowNumber       number(10),
    CustomerId      number(20),
    Surname         varchar2(50),
    CreditScore     number(30),
    Gender          varchar2(10),
    Age             number(5),
    Tenure          number(7),
    NumOfProducts   number(5),
    HasCrCard       number(20),
    EstimatedSalary number(20),
    Exited          number(20)
);
